@{
    ViewData["Title"] = "About";
}

<h1>About</h1>

<div>
    <p>
        Tobias Lundgren<br />
        Ex-NHL pro<br />
        Chess Grandmaster at age of 26 (twice as much as Magnus Carlsen)<br />
        Can solve a rubiks cube in a minute<br />
    </p>
</div>