
@{
    ViewData["Title"] = "Projects";
}

<h1>
    Projects<br />

    <a href="https://github.com/TobiasLundgren123/testgame">The Game</a> - Hit the pixel! <br />
    <a href="https://github.com/TobiasLundgren123/Todo">Todo</a> - Create your own todo list

</h1>

